{% extends 'base.html' %}

{% block content %}
    <h2>Your Cart</h2>
    
    {% if cart_items %}
    <table>
        <thead>
            <tr>
                <th>Product</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Total</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for item in cart_items %}
            <tr>
                <td>{{ item.product.name }}</td>
                <td>{{ item.quantity }}</td>
                <td>${{ item.product.price }}</td>
                <td>${{ item.product.price|floatformat:2 }}</td>
                <td>
                    <form action="{% url 'remove_from_cart' item.id %}" method="post">
                        {% csrf_token %}
                        <button type="submit">Remove</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
    <p><strong>Total: </strong> ${{ total_price|floatformat:2 }}</p>
        
    {% if cart_items %}
      <script src="https://js.stripe.com/v3/"></script>
    
      <button id="checkout-button" type="button">Оплатить</button>
    
      <script type="text/javascript">
        const stripe = Stripe("{{STRIPE_PUBLISHABLE_KEY}}");  // передай ключ из контекста
    
        document.getElementById("checkout-button").addEventListener("click", function () {
          fetch("{% url 'create_checkout_session' %}", {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
              "X-CSRFToken": getCookie("csrftoken")
            },
          })
          .then((response) => response.json())
          .then((session) => {
            return stripe.redirectToCheckout({ sessionId: session.id });
          })
          .then((result) => {
            if (result.error) {
              alert(result.error.message);
            }
          })
          .catch((error) => {
            console.error("Error during checkout:", error);
          });
        });
    
        function getCookie(name) {
          let cookieValue = null;
          if (document.cookie && document.cookie !== "") {
            const cookies = document.cookie.split(";");
            for (let i = 0; i < cookies.length; i++) {
              const cookie = cookies[i].trim();
              if (cookie.substring(0, name.length + 1) === name + "=") {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
              }
            }
          }
          return cookieValue;
        }
      </script>
    {% else %}
      <p>Корзина пуста.</p>
    {% endif %}

    
    <form action="{% url 'clear_cart' %}" method="post">
        {% csrf_token %}
        <button type="submit">Clear Cart</button>
    </form>
    
    {% else %}
    <p>Your cart is empty!</p>
    {% endif %}
    <a href="/">Continue Shopping</a>
{% endblock %}
