{% extends 'base.html' %}

{% block content %}
<h2>Заказ #{{ order.id }}</h2>
<p>Статус заказа: {{ order.status }}</p>
<p>Сумма: {{ order.total_amount }} USD</p>

<hr>

<h3>Активные товары:</h3>
{% with order.items.all as items %}
  {% if items|dictsort:"status"|length > 0 %}
    <ul>
      {% for item in items %}
        {% if item.status != "canceled" %}
          <li>
            {{ item.product.name }} — {{ item.quantity }} × ${{ item.price }}
            <br>Статус: {{ item.status }}
            {% if item.status != "refund_approved" %}
              <form method="post" action="{% url 'request_refund' item.id %}">
                {% csrf_token %}
                <button type="submit">Запросить возврат</button>
              </form>
            {% endif %}
          </li>
            <form method="post" action="{% url 'create_chat' product.id 'product' %}">
                {% csrf_token %}
                <button type="submit">Написать продавцу</button>
            </form>


        {% endif %}
      {% endfor %}
    </ul>
  {% else %}
    <p>Нет активных товаров.</p>
  {% endif %}
{% endwith %}

<hr>

<h3>Отменённые / возвращённые товары:</h3>
<ul>
  {% for item in order.items.all %}
    {% if item.status == "canceled" %}
      <li>
        {{ item.product.name }} — {{ item.quantity }} × ${{ item.price }}
        <br>Статус: Возврат выполнен
      </li>
    {% endif %}
  {% endfor %}
</ul>


{% endblock %}
