{% extends 'base.html' %}

{% block content %}
    <h1 class="section-title">Products</h1>
    <div class="product-list">
        {% for product in products %}
            <div class="product-card">
                <a href="{% url 'product_detail' product.id %}">
                    <img src="{{ product.image.url }}" alt="{{ product.name }}">
                </a>
                <h3>{{ product.name }}</h3>
                <p class="product-price">${{ product.price }}</p>
                <a href="{% url 'product_detail' product.id %}" class="btn-details">Details</a>
            </div>
        {% endfor %}
    </div>
{% endblock %}
