{% extends 'base.html' %}
{% block content %}
<h2>{{ product.name }}</h2>
<img src="{{ product.image.url }}" alt="{{ product.name }}">
<p>{{ product.description }}</p>
<p>Price: ${{ product.price }}</p>
<p>Stock: {{ product.stock }}</p>

{% if user.is_authenticated and user.role == "buyer" %}
    {% if product.stock > 0 %}
        <a href="{% url 'confirm_purchase' product.id %}" class="btn">Buy</a>
    {% else %}
        <p>Out of stock</p>
    {% endif %}
{% else %}
    <p><a href="{% url 'login' %}">Log in to buy</a></p>
{% endif %}
    

{% endblock %}
