{% extends 'base.html' %}

{% block content %}
<div class="product-detail">
    <div class="product-image">
        <img src="{{ product.image.url }}" alt="{{ product.name }}">
    </div>
    <div class="product-info">
        <h2>{{ product.name }}</h2>
        <p class="product-description">{{ product.description }}</p>
        <p class="product-price">Price: <strong>${{ product.price }}</strong></p>
        <p class="product-stock">Stock: <strong>{{ product.stock }}</strong></p>
        <p>Seller: {{ product.seller.username }}</p>

        {% if user.is_authenticated and user.role == "buyer" %}
            {% if product.stock > 0 %}
                <a href="{% url 'confirm_purchase' product.id %}" class="btn-buy">Buy</a>
            {% else %}
                <p class="out-of-stock">Out of stock</p>
            {%endif%}
        {% elif user.role == "seller" and user == product.seller %}
                    <a href="{% url 'update_product' product.id %}" class="btn-edit">Редактировать</a>
                    <a href="{% url 'delete_product' product.id %}" class="btn-delete">Удалить</a>
        {% else %}
            <p><a href="{% url 'login' %}" class="login-link">Log in to buy</a></p>
        {% endif %}
    </div>
</div>
{% endblock %}
