{% extends 'base.html' %}

{% block content %}
<div class="product-detail">
    <div class="product-image">
        <img src="{{ product.image.url }}" alt="{{ product.name }}">
    </div>
    <div class="product-info">
        <h2>{{ product.name }}</h2>
        <p class="product-description">{{ product.description }}</p>
        <p class="product-price">Price: <strong>${{ product.price }}</strong></p>
        <p class="product-stock">Stock: <strong>{{ product.stock }}</strong></p>
        <p>Seller: {{ product.seller.username }}</p>

        {% if user.is_authenticated and user.role == "buyer" %}
            <form action="{% url 'add_to_cart' product.id %}" method="post">
                {% csrf_token %}
                <input type="number" name="quantity" value="1" min="1" />
                <button type="submit">Add to Cart</button>
            </form>
            
            {% if product in request.user.favorites.all %}
                <form method="post" action="{% url 'remove_from_favorites' product.id %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Удалить из избранного</button>
                </form>
            {% else %}
                <form method="post" action="{% url 'add_to_favorites' product.id %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-outline-primary">Добавить в избранное</button>
                </form>
            {% endif %}
            
            {% if chat %}
                <a href="{% url 'chat_view' chat.id %}" class="btn btn-primary">
                    Go to Chat
                </a>
            {% else %}
                <form method="post" action="{% url 'create_chat' product.id 'product' %}">
                    {% csrf_token %}
                    <button type="submit">Start chat</button>
                </form>

            {% endif %}
        {% elif user.role == "seller" and user == product.seller %}
            <a href="{% url 'update_product' product.id %}" class="btn-edit">Редактировать</a>
            <a href="{% url 'delete_product' product.id %}" class="btn-delete">Удалить</a>
        {% else %}
            <p><a href="{% url 'login' %}" class="login-link">Log in to buy</a></p>
        {% endif %}
    </div>
</div>
{% endblock %}
